<!-- BOOTSTRAP folding question menu-->

<section id="questions" class="p-5" style="background-color: #f7e7ce">
    <div class="container p-5">
        <h2 class="text-center mb-4"><span style="color: #0275d8">Frequently</span> <span style="color: #d9534f">Asked</span> <span style="color: #f0ad4e">Questions</span></h2>


        <div class="accordion accordion-flush hover-div" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
                  What does this do?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">This website helps users log and store screen time details!.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo">
                  Why was this made?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">This was made to showcase the use of NodeJS and MongoDB.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree">
                  Who was this made by?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse"  data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Made by Evan Mulcare</div>
              </div>
            </div>
          </div>
    </div>
</section>