<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>

    <%- include('../partials/nav.ejs') %> 

<!--Information sections-->

<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="images/section1Image.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2 style="color: #5cb85c"> More About Us</h2>
                <p class="lead">
                    This website was created to showcase the use of NodeJS, and MongoDB.
                    It also implements the GoogleCharts and ChartJS APIs for data visualization.
                    Bootstrap is used for styling!
                </p>
            </div>
        </div>
    </div>

</section>

<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
           
            <div class="col-md p-5">
                <h2 style="color: #0275d8"> More Log information</h2>
                <p class="lead">
                    More screen-time has been linked with shorter sleep duration, decreased sleep efficiency, and longer sleep onset delay.
                    When using any screen before bedtime, the blue light emitted disrupts the body's natural melatonin hormone production. 
                    Melatonin is produced by the brain's pineal gland and controls the body's internal clock.
                </p>
                <p>
                    Using any screen prior to bedtime disrupts the body's production of natural 
                    bedtime hormones which can trick the brain to believe it is still daytime making it harder to fall asleep.
                </p>
           
            </div>
            <div class="col-md">
                <img src="images/section2Image.jpg" class="img-fluid" alt="">
                  </div>
            </div>
        </div>
    </div>

</section>
    
    <%- include('../partials/footer.ejs') %> 
</body>
</html>