<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 
    <%- include('../partials/questions.ejs') %> 
    

    <section id="learn" class="p-5"  style="background-color: #f7e7ce">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md p-5">
                    <h2>More help?</h2>
                    <p class="lead">
                        For more information or help do not hesitate to contact Us.
                    </p>
                    <p>
                       For more information on this site navigate to our About Section!
                    </p>
                </div>
            </div>
        </div>
    
    </section>

    <%- include('../partials/footer.ejs') %> 
</body>
</html>